name: Build & deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
          fetch-depth: 0
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 16.x
    
    - name: Install NPM packages
      run: npm ci
    
    - name: Build project
      run: npm run build

    - name: Upload production-ready build files
      uses: actions/upload-artifact@v2
      with:
        name: production-files
        path: ./build
  
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v2
      with:
        name: production-files
        path: ./build
    - name: Deploy to Heroku  
      run: |
          cat > ~/.netrc <<EOF
            machine api.heroku.com
              login ${{secrets.HEROKU_EMAIL}}
              password ${{secrets.HEROKU_API_KEY}}
            machine git.heroku.com
              login ${{secrets.HEROKU_EMAIL}}
              password ${{secrets.HEROKU_API_KEY}}
          EOF
    - name: Add Heroku remote
      run: git init
    - run: git add ./build
    - run: git commit -am "deploy"
    - run: heroku git:remote -a ${{ secrets.HEROKU_APP_NAME }}
    - run: git push heroku main
